.cuadro-inicio {
    background: whitesmoke;
    display: flex;
    align-items: center;
}

.cuadro-inicio h1 {
    font-family: Open-Sans, sans-serif;
    font-size: 50px;
}
.cuadro-inicio img {
    height: 50px;
    margin: 10px;
}

.cuadro-inicio nav {
    margin-left: auto;
    margin-right: 20px;
    justify-content: space-between;
}
/* ------------------------------------------- */
.contenedor-categorias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    align-items: stretch;
    max-width: 800px;
    margin: 50px auto;
}

.contenedor-categorias div {
    display: flex;
    flex-direction: column;
    height:450px;
    margin: 0;
    border-radius: 15px;
}

.contenedor-categorias img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/* ------------------------------------------- */
.cuadro-videojuegos {
    background: #7C038C;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

.cuadro-videojuegos:hover {
    transform: translate(5px, -5px);
    transition: transform 0.7s;
}

.info-videojuegos {
    padding: 10px;
    text-align: center;
}
/* ------------------------------------------- */
.cuadro-musica {
    background: #D96ABB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

.cuadro-musica:hover {
    transform: translate(5px, -5px);
    transition: transform 0.7s;
}

.info-musica {
    padding: 10px;
    text-align: center;
}
/* ------------------------------------------- */
.cuadro-peliculas {
    background: #D94A56;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

.cuadro-peliculas:hover {
    transform: translate(5px, -5px);
    transition: transform 0.7s;
}

.info-peliculas {
    padding: 10px;
    text-align: center;
}
/* ------------------------------------------- */
.cuadro-libros {
    background: #D9BD9C;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

.cuadro-libros:hover {
    transform: translate(5px, -5px);
    transition: transform 0.7s;
}

.info-libros {
    padding: 10px;
    text-align: center;
}